* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none !important;
}

/* header */
.header {
  background-color: #456084;
  display: flex;
  justify-content: center;
}
.header-box {
  display: flex;
  width: 70%;
  justify-content: space-between;
  align-items: center;
  height: 30px;
}

.text-header {
  color: white;
  font-size: 13px;
  margin-bottom: 0;
  text-transform: uppercase;
  font-weight: 500;
}
.list-service {
  display: flex;
  align-items: center;
  list-style: none;
  font-size: 12px;
  margin-bottom: 0;
}
.list-service li a {
  text-decoration: none;
  color: #bdc7d4;
  font-weight: 500;
  margin-right: 23px;
}
.list-service li:hover a {
  color: white;
  cursor: pointer;
}
.list-service li .icon-mxh {
  color: white;
  margin-right: 10px;
}
.list-service li:hover > .icon-mxh {
  color: #bdc7d4;
  cursor: pointer;
}

/* header-control */
.header-control {
  display: flex;
  justify-content: center;
}
.box-control {
  display: flex;
  align-items: center;
}
.logo-box {
  display: flex;
  height: 42px;
  width: 201px;
}
.logo-box img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.header-control_box {
  display: flex;
  width: 70%;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #f3f3f3;
  padding-bottom: 25px;
  padding-top: 25px;
}
.header-control_service-box {
  display: flex;
  align-items: center;
}
.header-control_service {
  display: flex;
  align-items: center;
  margin-bottom: 0;
  padding-left: 34px;
}
.header-control_service li {
  list-style: none;
  font-size: 5px;
  margin-right: 12px;
}
.header-control_service li i {
  color: #7d7d7d;
  font-size: 13px;
  margin-left: 5px;
}
.header-control_service a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  margin-right: 2px;
  color: #7d7d7d;
}
.header-control_login {
  display: flex;
  align-items: center;
  margin-bottom: 0;
}
.header-control_login a {
  color: #7d7d7d;
  font-weight: 500;
}
.header-control_login li {
  list-style: none;
  font-size: 14px;
}
.icon_search {
  font-size: 15px !important;
  color: #7d7d7d;
}
.header-control_login .login {
  margin-right: 10px;
  position: relative;
}
.header-control_login .login::after {
  content: "";
  position: absolute;
  right: -5px;
  top: -1px;
  height: 25px;
  width: 0.2px;
  background-color: #b0b0b0;
}
.cart_box {
  position: relative;
  margin-left: 10px;
}
.quantity_cart {
  padding: 5px 10px;
  border: 0.8px solid #456084;
  color: #456084;
  font-weight: 500;
  z-index: 1;
}
.style_cart {
  top: -9px;
  left: 4.3px;
  position: absolute;
  width: 19px;
  height: 10px;
  border-top-left-radius: 110px;
  border-top-right-radius: 110px;
  border: 0.9px solid #456084;
  border-bottom: 0;
}
/* product */
.body-products {
  display: flex;
  justify-content: center;
}
.products-box {
  width: 70%;
}
.title-products {
  font-size: 19px;
  font-weight: 600;
  margin-top: 28px;
}
.title-products a {
  color: rgba(102, 102, 102, 0.7);
}
.title-products .shop {
  color: black;
}

.product-container {
  display: flex;
  margin-top: 35px;
}
/* siderbar */
.sider-bar {
  width: 500px;
  margin-right: 30px;
}
.sider-bar h2 {
  font-size: 16px;
  color: rgba(102, 102, 102, 0.7);
  position: relative;
  margin-bottom: 32px;
}
.sider-bar h2::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -17px;
  height: 4px;
  width: 31px;
  background-color: #e5e5e5;
}
.product_card img {
  width: 100px;
}
.product-select {
  margin-top: 35px;
  padding-left: 0;
  margin-bottom: 0;
}
.product-select a {
  font-size: 16px;
  color: #334862;
}
.product-select li {
  list-style: none;
  display: flex;
  align-items: center;
  border-bottom: 0.5px solid #ececec;
  padding: 5px 0;
}
.collapse-select {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.button_collapse {
  outline: none;
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
}
.button_collapse i {
  font-size: 12px;
  color: #b0b0b0;
}
.product-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 145%;
}
.product_card {
  position: relative;
  cursor: pointer;
  transition: 0.2s all;
}
.product_card_img {
  height: 300px;
  width: 250px;
}
.product_infor {
  position: absolute;
  background-color: white;
  bottom: 85px;
  width: 100%;
  padding: 10px 0;
}
.product_card:hover .product_infor {
  background-color: #456084;
  color: white;
}
.product_infor h1 {
  font-size: 15px;
  text-align: center;
  margin-bottom: 0;
}
.product_infor p {
  text-align: center;
  font-size: 11px;
  margin-bottom: 0;
}
.quantity {
  font-size: 12px;
  color: #b0b0b0;
}
.filter {
  margin-top: 15px;
}

/* fix */
.support {
  position: fixed;
  right: 0;
  bottom: 25%;
  z-index: 10;
}
.box-fix {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 5px;
  margin-bottom: 6px;
  border-radius: 2px;
}
.box-fix img {
  display: flex;
  justify-content: center;
}
.box-fix p {
  margin-bottom: 0;
  color: white;
  font-size: 12px;
  font-weight: 600;
  text-align: center;
}
.box-fix .fix-price {
  font-size: 20px;
}
.box-fix .fix-price small {
  position: absolute;
  left: 10px;
  top: 53px;
}
/* range */
.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 5px;
  border-radius: 5px;
  background: #acacac;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  border-radius: 50%;
  height: 10px;
  background: #666666;
  cursor: pointer;
}
.slider::-moz-range-thumb {
  width: 25px;
  height: 10px;
  background: #04aa6d;
  cursor: pointer;
}
.button_filter {
  border: none;
  background-color: #666666;
  color: white;
  font-size: 13px;
  font-weight: 500;
  border-radius: 15px;
  padding: 5px 13px;
}
.button_filter:hover {
  opacity: 0.8;
}
.product-select .money {
  color: #666666;
}
.product-select .price {
  font-size: 14px;
}
.infor-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 16px;
}
.box-filter {
  transform: translateY(-8px);
}
.cart_product_container {
  margin-top: 18px;
}
.cart_product_box {
  border-bottom: 0.1px solid #ececec;
  padding-bottom: 8px;
  margin-bottom: 3px;
}
.cart_product {
  display: flex;
  margin-top: 8px;
}
.cart_product_img {
  height: 57px;
  width: 57px;
  margin-right: 12px;
}
.cart_product img {
  height: 100%;
  object-fit: cover;
}
.infor_product p {
  margin-bottom: 0;
  line-height: 16px;
}
.infor_product {
  font-size: 16px;
  font-weight: 400;
  margin-top: 5px;
}
.infor_product .title {
  opacity: 0.6;
  margin-bottom: 2px;
}
/* suggest */

.suggest-box h2 {
  position: relative;
  font-size: 16px;
  opacity: 0.8;
  margin-bottom: 35px;
}
.suggest-box h2::after {
  content: "";
  position: absolute;
  left: 0;
  top: 29px;
  bottom: -10px;
  height: 3px;
  width: 32px;
  background-color: #e5e5e5;
}
.suggest-container {
  display: flex;
  justify-content: center;
}
.line {
  margin-top: 25px;
  border: 0.1px solid #ececec;
}
/* connect */
.connect-container {
  background-color: #777777;
  margin-top: 20px;
  padding-bottom: 20px;
}
.connect-container .title {
  color: white;
}
.connect-box h2 {
  position: relative;
  font-size: 14px;
  color: white;
  margin-bottom: 28px;
}
.connect-box h2::after {
  content: "";
  position: absolute;
  left: 0;
  top: 28px;
  bottom: -7px;
  height: 2px;
  width: 30px;
  background-color: #e5e5e5;
  opacity: 0.5;
}
.connect_box p {
  margin-bottom: 0;
  font-size: 16px;
  color: #f1f1f1;
}
.connect_box_container {
  margin-top: 15px;
}
.connect-icon {
  margin-top: 10px;
  display: flex;
}
.connect-icon a:hover {
  opacity: 0.5;
}
.connect-icon a {
  height: 25px;
  width: 25px;
  border: 0.2px solid #e5e5e5;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-right: 12px;
  margin-top: 8px;
}
.connect-icon a i {
  font-size: 14px;
  color: white;
}
.cart_time {
  padding: 3px 5px;
  border: 0.8px solid #d6d6d6;
  font-size: 13px;
  margin-right: 10px;
}
.cart_time p {
  text-align: center;
  color: #d6d6d6;
  font-weight: 500;
  margin-bottom: 0;
  line-height: 14px;
}
.title_time .title {
  font-size: 13px;
  font-weight: 500;

  margin-bottom: 0;
}
.tag-container {
  margin-top: 16px;
  display: flex;
  flex-wrap: wrap;
}
.tag-container a {
  margin-top: 0 !important;
  margin-bottom: 5px;
  margin-right: 5px;
  padding: 1px 4px 2px 4px;
  border: 0.4px solid #ececec;
  color: #ececec;
  border-radius: 2px;
  font-size: 12px;
  font-weight: 500;
}

.form_email {
  margin-top: 24px;
}
.form_email input {
  border: none;
  outline: none;
  border-radius: 15px;
  font-size: 14px;
  font-weight: 500;
  height: 30px;
  background-color: #929292;
  width: 225px;
  caret-color: white;
  padding: 0px 11px;
  color: white;
}
.form_email input::-webkit-input-placeholder {
  color: white;
}
.form_email button {
  outline: none;
  border: none;
  margin-top: 25px;
  background-color: #456084;
  font-size: 14px;
  font-weight: 500;
  color: white;
  padding: 5px 13px;
  border-radius: 15px;
}
/* footer */
.footer-container {
  background-color: #5b5b5b;
  padding-bottom: 10px;
}
.connect-list {
  list-style: none;
  display: flex;
  align-items: center;
  padding-left: 0;
  padding-bottom: 5px;
  border-bottom: 1px solid #acacac;
  margin-bottom: 0;
  margin-top: 10px;
}
.connect-list li a {
  color: #acacac;
  font-size: 13px;
  font-weight: 500;
  margin-right: 6px;
}
.copyRight {
  margin-top: 5px;
  font-size: 13px;
  color: #929292;
}
.copyRight p {
  margin-bottom: 0;
}
.container-footer_last {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.icon_payment svg {
  margin-right: 10px;
  padding: 2px 5px;
  border-radius: 2px;
  background-color: #656565;
  fill: #b0b0b0;
  height: 22px;
}
.icon_payment svg:hover {
  fill: #fff;
  cursor: pointer;
}
.icon_payment_container {
  display: flex;
}
.bar {
  display: none;
}
.icon_search_bar {
  font-size: 20px;
}
#offcanvasExample {
  width: 276px !important;
}
.btn-close {
  transform: translate(20px 0);
}

/* clothing */

.form-select {
  border-radius: 3px;
  padding: 6px 6px 6px 10px;
  font-weight: 500;
  font-size: 13px;
  background-size: 20px 13px !important;
  background-position: right 3.75px center;
}
.product_infor_button {
  position: relative;
  background-color: #456084;
  visibility: hidden;
  transition: 0.25s ease-in-out;
}
.product_infor_button h1 {
  color: white;
  font-size: 15px;
  padding: 10px 0;
  text-align: center;
}
.product_card:hover .product_infor_button {
  transform: translateY(-38px);
  visibility: inherit;
}
.card-button {
  background-color: orange;
  color: white;
  padding: 4px 7px;
  font-weight: 500;
  border-radius: 5px;
}
/* slider */

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
}

.mySwiper2 {
  height: 80%;
  width: 100%;
}

.mySwiper {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
  margin-top: 15px;
}

.mySwiper .swiper-slide {
  width: 25%;
  height: 100%;
  /* opacity: 0.4; */
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.detailProduct {
  margin-top: 46px;
}
.other {
  color: #777777;
}
.form-select2 {
  border-radius: 3px;
  padding: 6px 145px 6px 10px;
  font-weight: 500;
  font-size: 13px;
  background-size: 20px 13px !important;
  background-position: right 3.75px center;
}
.detail_icon {
  color: #656565 !important;
}
.active_review {
  position: relative;
}
.active_review::before {
  position: absolute;
  content: "";
  height: 5px;
  width: 100%;
  top: -12px;
  background-color: #04aa6d;
}
/* responsive */
@media only screen and (max-width: 1085.7px) {
  .header-box,
  .header-control_box,
  .products-box {
    width: 85%;
  }
  .product-main {
    width: 174%;
  }
  .product_card_img {
    height: 300px;
    width: 230px;
  }
}
@media only screen and (max-width: 1286px) {
  .header-box,
  .header-control_box,
  .products-box {
    width: 85%;
  }
}
@media only screen and (max-width: 1146px) {
  .header-box,
  .header-control_box,
  .products-box {
    width: 90%;
  }
}
@media only screen and (max-width: 1016px) {
  .list-service,
  .header-control_service,
  .header-control_login .login,
  .cart,
  .sider-bar,
  .filter-price h6,
  .form-select {
    display: none;
  }
  .swiper-container {
    flex-direction: column;
    align-items: center;
  }
  .swiper-box {
    margin-right: 0 !important;
    width: 100% !important;
  }
  .infor-product {
    margin-top: 25px;
  }
  .swiperSlide3 {
    margin-right: 91px !important;
  }
  .text-header,
  .title-products {
    text-align: center;
  }
  .header-box {
    justify-content: center;
  }
  .responsive-title {
    justify-content: center !important;
  }
  .bar {
    display: block;
    font-size: 30px;
  }
  .header-control_login {
    padding-left: 0;
  }
  .product-main {
    width: 250%;
    padding: 0 16px;
  }
  .product_card_img {
    height: 298px;
    width: 277px;
    margin-bottom: 10px;
  }
}
@media only screen and (max-width: 915.2px) {
  .product-main {
    width: 250%;
    padding: 0 16px;
  }
  .product_card_img {
    height: 298px;
    width: 277px;
    margin-bottom: 10px;
  }
  .container-footer_last {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
}
@media only screen and (max-width: 913.2px) {
  .product-main {
    width: 250%;
    padding: 0 16px;
  }
  .product_card_img {
    height: 298px;
    width: 262px;
    margin-bottom: 10px;
  }
}
@media only screen and (max-width: 868px) {
  .product-main {
    width: 250%;
    padding: 0 16px;
  }
  .product_card_img {
    height: 298px;
    width: 250px;
    margin-bottom: 10px;
  }
}
@media only screen and (max-width: 832px) {
  .product-main {
    width: 250%;
    padding: 0 16px;
  }
  .product_card_img {
    height: 298px;
    width: 237px;
    margin-bottom: 10px;
  }
}
@media only screen and (max-width: 788px) {
  .product-main {
    width: 250%;
    padding: 0 16px;
  }
  .product_card_img {
    height: 298px;
    width: 213px;
    margin-bottom: 10px;
  }
}
@media only screen and (max-width: 713.6px) {
  .product-main {
    width: 250%;
    padding: 0 16px;
  }
  .product_card_img {
    height: 298px;
    width: 283px;
    margin-bottom: 10px;
  }
  .product-main {
    justify-content: space-around;
  }
}
@media only screen and (max-width: 1228px) {
  .product-main {
    width: 250%;
    padding: 0 16px;
  }
  .product_card_img {
    height: 298px;
    width: 253px;
    margin-bottom: 10px;
  }
}
@media only screen and (max-width: 1333px) {
  .product-main {
    width: 250%;
    padding: 0 16px;
  }
  .product_card_img {
    height: 298px;
    width: 223px;
    margin-bottom: 10px;
  }
}
@media only screen and (max-width: 1113.6px) {
  .product-main {
    width: 250%;
    padding: 0 16px;
  }
  .product_card_img {
    height: 298px;
    width: 253px;
    margin-bottom: 10px;
  }
}
@media only screen and (max-width: 840px) {
  .product-main {
    width: 250%;
    padding: 0 16px;
  }
  .product_card_img {
    height: 298px;
    width: 213px;
    margin-bottom: 10px;
  }
}
@media only screen and (max-width: 1230px) {
  .arrow {
    display: none;
  }
}
@media only screen and (max-width: 678px) {
  .swiperSlide3 {
    margin-right: 100px !important;
  }
}
@media only screen and (max-width: 480px) {
  .swiperSlide3 {
    margin-right: 160px !important;
  }
  .support {
    display: none;
  }
}
